html, body {
  height: 100%;
}
main {
  flex: 2;
}

.nav1{
	background-color:#202023;
	height:50px; 
}
.icon-flickr_logo_dots{
	width:110px;
	height:50px;
}
.nav1 .navbar-nav .nav-link{
	color:#fff;
}
.nav1 .fa-search{
	position: absolute;
	font-size: 16px;
	color:#535354;
	margin-left: 10px;
}
.nav1 form input{
	padding-left: 30px;
	background-color: #d0d0d1;
	font-size: 14px;
	border-radius: 3px;
}
.nav1 .navbar-nav .nav-item-1:hover{
	display: black; 
}
.nav1 .navbar-nav .nav-item-1:hover .dropdown-menu{
 	display: block;
}
.nav1 .navbar-nav .nav-item-1 .dropdown-menu::after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 20px 15px;
	border-color: transparent;
}

.nav1 .custom-nav-icon {
  font-size: 30px;
}

main .bg-section {
  height: 250px;
	background-image: url(https://farm66.staticflickr.com/65535/coverphoto/37708438@N05_h.jpg?1605405527#37708438@N05);
	background-size: cover;
	background-position: 0px -200px;
}

main .avatar {
  width: 100px;
}

main .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}


main .user-details .naming h2 {
  color: white;
  font-weight: lighter;
  font-size: 35px;
}

main .user-details .following {
  margin-left: 10px;
  color: black
}

main .user-details .following button {
  color: black;
  background: white;
  outline: none;
  border:none;
}

main .user-details .mail {
  margin-left: 5px;
}

main .user-details .mail button {
  color: white;
  outline: none;
  border:1px solid white;
}

main .badge {
  border: 1px solid white;
  color: white;
  font-weight: lighter;
  margin-right: 20px;
  height: 25px; 
}

main .nickname {
  color: white;
  margin-right: 20px;
}

main .follow-details {
  color: white;
}
main .follow-details .dot {
  font-weight: bold;
  
}


footer {
  background: black;
}

footer .footer-nav {
  color: white;
  list-style-type: none;
  border-bottom: .5px solid #fff;
}
footer .footer-nav li{
 font-size: 12px;
}

footer .footer-info  {
  margin-top: 20px;
}

footer .footer-info .footer-info-left span {
  color: hsla(0,0%,100%,.6);
  margin-right: 10px;
}
footer .footer-info .footer-info-center p {
  color: hsla(0,0%,100%,.6);
}

.foot-nav-ul li a  {
  text-decoration: none;
  color: white;
}